/* LAYOUT - GENERAL */

.site-slogan, #block-views-block-articles-block-1 h2.block-title, .feed-icons {
  display: none;
}


/* LAYOUT - GENERAL */

.container {
    margin: 0 auto;
    padding: 0 1.5rem;
    width: 100%;
    max-width: 1200px;
}

.highlighted .container {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.highlighted {
    /*border-bottom: 1px solid #eee;*/
    margin-bottom: 1.5rem;
}

.front .main .container {
    padding-bottom: 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 3rem;
}



/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro');

body {
  letter-spacing: 0.25px;
  font-family: 'seganlight', sans-serif;
}

.menu, .tags, .field-field-date, .views-field-created, .views-field-field-date, .views-field-field-tags, .field--name-field-tags, #connect .field, .node__submitted, .rooftop ul.tabs {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 90%;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6, .site-name {
  font-family: 'Didot', 'Playfair Display', Georgia, serif;
}



/* AA CUSTOM STYLES */

.site-logo {
    text-align: left;
    display: block;
    max-width: 297px;
    margin: 1.5em 0;
    margin: 1.5rem 0;
}

.site-logo img {
  display: block;
}

.rooftop {
    background: #12aadc;  /*light blue*/
}

.rooftop, .rooftop a {
    color: #fff;
}

.site-name {
    text-align: center;
    font-style: italic;
    letter-spacing: 3px;
    color: #999;
    display: none;
}

#block-avenue-main-menu {
    background: #fff;
    padding: 1rem 0;
    width: 100%;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}


/* Search */

#block-avenue-search {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}


/* TABS */

nav.tabs {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border: none;
}


/* ARTICLES BLOCKS */

#block-views-block-articles-block-1 {
    text-align: center;
    margin: 0 0 3em;
    margin: 0 0 3rem;
    font-size: 150%;
}

#block-views-block-articles-block-1 h2.views-field-title {
    padding: 0;
    margin: 1.5em auto;
    margin: 1.5rem auto;
    width: 800px;
    max-width: 100%;
}

.path-frontpage #block-avenue-page-title, .path-frontpage .block-system-main-block {
    display: none;
}

.views-element-container h2.block-title {
    text-align: center;
    font-size: 200%;
    margin: 3em 0 5em;
    margin: 3rem 0 5rem;
    color: #777;
}

.view-articles .views-field-created, .view-articles .views-field-field-tags, .view-taxonomy-term .views-field-created, .view-taxonomy-term .views-field-field-tags {
    float: left;
    width: 17%;
}

.view-articles .views-field-field-tags, .view-taxonomy-term .views-field-field-tags {
    margin: 4.5em 0 0;
    margin: 4.5rem 0 0;
}

.view-articles .views-field-field-tags a, .view-taxonomy-term .views-field-field-tags a {
    float: left;
    clear: left;
    margin: 0 2px 0 0;
}

.view-articles .views-field-field-image, .view-taxonomy-term .views-field-field-image {
    float: left;
    width: 38.2%;
    margin: 0 3% 0 0;
}

.view-articles .views-row, .view-taxonomy-term .views-row {
    margin: 0 0 4.5em 0;
    margin: 0 0 4.5rem 0;
    padding: 0 0 4.5em 0;
    padding: 0 0 4.5rem 0;
}

.view-articles img, .view-taxonomy-term img {
    display: block;
}

.views-field-view-node {
    margin: 1.5em 0;
    margin: 1.5rem 0;
    opacity: 0.5;
}

.view-articles.view-display-id-block_3 .views-row {
    float: left;
    width: 31.3333%;
    margin: 1%;
    text-align: center;
}

.view-articles.view-display-id-block_3 .views-row .views-field-field-image {
    width: 100%;
    float: none;
    clear: both;
    margin: 0;
}

.view-articles.view-display-id-block_3 .views-row h2.views-field-title {
    margin: 0.75rem 0;
    clear: both;
    float: none;
    padding: 0;
    font-size: 150%;
}

#block-views-block-articles-block-3 .view-header {
    text-align: center;
    margin: -1.5rem 0 3rem;
    font-family: Didot;
    color: #777;
}



/*The outlier block:  The featured article on home page. */

.view-articles .views-field-title, .view-taxonomy-term .views-field-title {
    padding: 4.5rem 0 0 0;
}

#block-views-block-articles-block-1 .views-row {
    margin: 0;
    padding: 0;
    border: none;
}

#block-views-block-articles-block-1 .views-field-field-image, #block-views-block-articles-block-1 .views-field-field-image-feature {
    float: none;
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;
}


/* EVENTS */

#block-views-block-events-block-1 {
    text-align: center;
}

#block-views-block-events-block-1 .views-row {
    float: left;
    width: 31.3333%;
    margin: 1%;
}

#block-views-block-events-block-1 h2.views-field-title {
    font-size: 125%;
    margin: 0;
    padding: 0;
}

.region-content-bottom {
    padding-bottom: 6rem;
}


/* ARTICLE NODE PAGES */

h1.page-title {
    margin: 4.5rem auto 4.5rem;
    max-width: 720px;
    text-align: center;
}

.paragraph, .node--view-mode-full .node__meta, .path-frontpage #block-about {
    width: 600px;
    margin: 0 auto 3em auto;
    margin: 0 auto 3rem auto;
    max-width: 100%;
}

.node--view-mode-full .field.field--name-body {
    margin-bottom: 0;
}

.node--view-mode-full .node__meta {
    text-align: right;
    margin: 3em auto 3em auto;
    margin: 3rem auto 3rem auto;
}

.node--view-mode-full .field.field--name-field-image {
    width: 100%;
      /*per Tara, Paul, for now*/
    margin-top: 0;
}

.path-node .field--type-image img {
    margin: 0;
    width: 100%;
}

img.align-center {
    width: 140%;
    max-width: 140%;
    margin: 0 0 0 -20%;
}

.field--name-body img.align-right {
    float: right;
    margin: 0.25rem -20% 1rem 5%;
    width: 70%;
}

.field--name-body img.align-left {
    float: left;
    margin: 0.25rem 5% 1rem -20%;
    width: 70%;
}

.path-taxonomy h1.page-title {
    text-transform: uppercase;
}


/* PARAGRAPHS */

.paragraph--type--image-left-text-right .field--type-image img {
    float: left;
    margin: 0 5% 1rem -25%;
    width: 65%;
    display: block;
}

.paragraph--type--image-center .field--type-image
 img {
    width: 140%;
    max-width: 140%;
    margin: 0 0 3rem -20%;
}

.paragraph--type--image-right-text-left .field--type-image img {
    float: right;
    margin: 0 0 1rem -20%;
    width: 65%;
    display: block;
}

.paragraph--type--text-left-image-right .field--type-image img {
    float: right;
    width: 65%;
    margin: 0 -20% 1rem 5%;
    display: block;
}




blockquote {
    padding: 3rem 5%;
    font-size: 150%;
    text-align: center;
    font-style: italic;
    margin: 0;
}

footer.node__meta.field {
    text-align: right;
    width: 100%;
}

footer.node__meta .profile {
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
}

.path-node footer.node__meta .field--name-user-picture img {
    float: left;
    width: 60px;
    border-radius: 60px;
    overflow: hidden;
    margin: 0.75rem 1.5rem 0.75rem 0.25rem;
}

.node--view-mode-full footer.node__meta .field.field--name-user-picture {
    margin: 0;
    width: inherit;
}



/* ABOUT BLOCK ON HOME PAGE */

.path-frontpage #block-about h2.block-title {
    text-align: center;
    margin: 3rem 0;
}

.path-frontpage #block-about img {
    width: inherit;
    max-width: inherit;
    margin: 3rem auto;
}


/* PROFILES */

.path-user .field--name-user-picture img {
    float: right;
    width: 32%;
    margin: 0 0 3rem 5%;
}

#connect .field {
    display: inline-block;
    margin: 1.5rem 1.5rem 1.5rem 0;
}




/* FOOTER */

.footer {
    padding: 1.5em 0;
    padding: 1.5rem 0;
    border-top: 1px solid #eee;
    font-size: 90%;
}

.footer #block-avenue-footer {
    float: right;
}

#block-footercredentials {
    float: left;
}

.footer ul.menu {
    font-family: inherit;
    text-transform: none;
    letter-spacing: inherit;
    font-size: 100%;
    font-weight: 300;
}


/* TABS */

.rooftop ul.tabs {
    margin: 0;
    padding: 0;
    font-size: 80%;
}

.rooftop .tabs a.is-active, .rooftop .tabs a:hover {
    background: rgba(0,0,0,0.25);
}

.rooftop .tabs a {
    padding: 0.75rem 1.5rem;
}

.rooftop .tabs > li {
    margin: 0;
}

#user-login-form {
    max-width: 400px;
    margin: 0 auto 6rem;
}


/* Socials */

#block-socials {
    position: absolute;
    top: 0;
    right: 0;
}

#block-socials ul.menu li {
    margin: 0.25rem;
    padding: 0;
}

ul.menu a.fa {
    color: transparent;
    background: #363636;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
}

ul.menu a.fa:before {
    position: absolute;
    color: #fff;
    font-size: 22px;
    text-align: center;
    display: block;
    line-height: 31px;
    left: 6px;
}


/* Component images and captions */

.field--name-field-image-caption {
    text-align: center;
    margin: -1.5rem auto 3rem;
    font-size: 1rem;
}

.field--name-field-image-caption .field__item {
    display: inline-block;
    width: 49.75%;
}

.field--name-field-image-caption .field__item:only-child {
    width: 100%;
}

.field--name-field-image-caption, .field--name-field-image-caption a {
    color: #999;
}

.field--name-field-image-caption .field__item {
    display: inline-block;
    width: 49.75%;
}

.paragraph, .node--view-mode-full .node__meta, .path-frontpage #block-about {
    width: 100%;
}

.paragraph--type--image-center .field--type-image img {
    width: 100%;
    max-width: 100%;
    margin: 0 0 3rem 0;
}

.paragraph--type--image-left-text-right .field--type-image img, .node--view-mode-full .paragraph--type--image-left-text-right .field--name-field-image-caption {
    float: left;
    margin: 0 4% 1rem 0;
    width: 48%;
    display: block;
}

.paragraph--type--image-right-text-left .field--type-image img, .paragraph--type--text-left-image-right .field--type-image img, .node--view-mode-full .paragraph--type--text-left-image-right .field--name-field-image-caption {
    float: right;
    margin: 0 0 1rem 4%;
    width: 48%;
    display: block;
}
