/* huge screens ----------- */
@media screen and (min-width: 2000px) {


}


/* large screens ----------- */
@media screen and (min-width: 1200px) {


}


/* When the screen gets a little small ----------- */
@media screen and (min-width: 769px) {

	#block-horizontalmenu, #block-responsivemenumobileicon {
		display: none;
	}

}


/* iPad portrait and smaller ----------- */
@media screen and (max-width: 768px) {

	/*	Display nones, on mobile */

	body {
	  letter-spacing: 0.25px;
	}

	.container {
		width: 100%;
		margin: 0 auto;
		padding: 0 1em;
		padding: 0 1rem;
		max-width: inherit;
		min-width: inherit;
	}

	.float-left, .float-right, section, .main .block, .footer .block, .region-footer > div, .logo, .main .region, .cols > .col, #block-facebook, #block-twitter, .drupal-love, .pantheon-hosting, .sidebar-first .layout-content, #sidebar-first, .view-frontpage .views-row, .view-frontpage .views-row:nth-child(2), .path-frontpage #block-avenue-content, #block-views-block-frontpage-block-1 {
		float: none;
		width: 100%;
		max-width: 100%;
		min-height: inherit;
		height: auto;
		padding: 0;
		margin: 0 0 1.5em;
		text-align: left;
	}

	.region-header, .region-footer, .header .block, .footer .block {
	  margin: 0;
	}

	.sidebar-first .layout-content, #sidebar-first, .view-frontpage .views-row {
	  padding: 0 0 1.5rem;
	  border: none;
	}

	.sidebar-first .layout-content, #sidebar-first, .view-frontpage .views-row {
	  border-bottom: 1px solid #e2e2e2;
	}

	.header .container {
	  padding: 0;
	  border-bottom: 1px solid #e2e2e2;
	}

	ul.menu li {
	  display: block;
	  margin: 0;
	  margin: 0;
	  padding: 0;
	}


	/* Tabs -- ex: log in, create new account */
	.block-local-tasks-block ul.tabs {
	  margin: 0;
	  padding: 0;
	}

	.block-local-tasks-block ul.tabs > li {
	  display: block;
	  margin: 1px 0;
	  width: 100%;
	}

	.block-local-tasks-block ul.tabs > li a {
	  border-radius: 2px;
	}


	#block-avenue-branding {
	  text-align: center;
	  max-width: 45%;
	  width: 45%;
	  margin: 1.15rem auto 0;
	}

	.site-logo img {
	  max-width: 100%;
	}

	.field--name-field-image {
	  margin: -1.35rem -1rem 1.5rem;
	}

	.path-frontpage #block-avenue-content {
	  border-right: none;
	}

	.views-row:last-child {
	  border: none;
	  padding-bottom: 0;
	  margin-bottom: 0;
	}

	.view-frontpage img {
	  margin: 1.5rem 0 1.5rem;
	}

	.rooftop .container {
	    padding: 0;
	}



	/* ARTICLES */

	.field--name-body img.align-right, .field--name-body img.align-left {
	float: none;
	margin: 1.5rem 0;
	width: 100%;
	}

	.node--view-mode-full .field, .node--view-mode-full .node__meta, .path-frontpage #block-about, .view-articles.view-display-id-block_3 .views-row {
	width: 100%;
	margin: 0 auto 3rem auto;
	max-width: 100%;
	text-align: left;
	}


	/* responsive menu module CSS overrides */
	#block-responsivemenumobileicon {
	  background: #f7f7f7;
	  float: left;
	  width: 49px;
	  margin: 0.5rem 0.75rem;
	  border: 1px solid #ebebeb;
	  border-radius: 3px;
	  padding-top: 4px;
	}

	.responsive-menu-toggle-icon:before, .responsive-menu-toggle-icon:after, .responsive-menu-toggle-icon span.icon {
	  background: #848484;
	  height: 2px;
	}

	#block-views-block-articles-block-1 h2.views-field-title {
	padding: 0 1.5rem;
	}

	.path-frontpage #block-about img {
	max-width: 100%;
	}

	.path-frontpage .main {
	border-bottom: 1px solid #eee;
	padding-bottom: 0;
	margin-bottom: 4.5rem;
	}


	/* TABLES */

	td, th {
	  display: block;
	  border: none;
	  padding: 1px;
	  width: 100% !important;
	}

	.td_inner_wrapper {
	  padding: 0.5rem 1rem;
	}

	thead, tr {
	  border-top: 1.5rem solid #fff;
	  margin: 0.5rem;
	}

	thead {
	  display: none;
	}

	td.views-field-title a {
	  font-weight: bold;
	}


	/* NODE PAGES */

	h1, h2, h3, h4, h5, h6, .site-name {
	font-size: 175%;
	}

	h1.page-title {
	font-style: normal;
	font-weight: 300;
	max-width: 100%;
	}


	/* CONTENT BOTTOM */

	#block-facebook, #block-twitter {
	  margin-bottom: 3rem;
	}


	/* FOOTER */

	.footer .container {
	  padding: 1em;
	  padding: 1rem;
	}


	/* CUSTOM for Aa. */

	.main {
	overflow: hidden;
	}

	.main .container {
	padding: 0;
	width: 90%;
	margin: 0 auto;
	}

	.view-articles .views-field-created, .view-articles .views-field-field-tags, .view-taxonomy-term .views-field-created, .view-taxonomy-term .views-field-field-tags, .view-articles .views-field-field-tags, .view-taxonomy-term .views-field-field-tags, .view-articles .views-field-field-image, .view-taxonomy-term .views-field-field-image, .view-articles .views-field-title, .view-taxonomy-term .views-field-title, #block-views-block-events-block-1 .views-row, #block-footercredentials, .footer #block-avenue-footer {
	float: none;
	width: 100%;
	clear: both;
	margin: 0 0 1.5rem;
	overflow: hidden;
	padding: 0;
	}

	#block-avenue-page-title {
	margin: 0;
	}

	.view-articles .views-row, .view-taxonomy-term .views-row {
	margin: 0 0 3em 0;
	margin: 0 0 3rem 0;
	padding: 0 0 3em 0;
	padding: 0 0 3rem 0;
	}

	#block-views-block-articles-block-1 {
	font-size: 105%;
	}


	.path-node .node__content .field--type-image img, .paragraph--type--image-right-text-left .field--type-image img, .paragraph--type--text-left-image-right .field--type-image img, .node--view-mode-full .paragraph--type--text-left-image-right .field--name-field-image-caption, .paragraph--type--image-left-text-right .field--type-image img, .node--view-mode-full .paragraph--type--image-left-text-right .field--name-field-image-caption, .field--name-field-image-caption .field__item {
	margin: 1.5rem -10%;
	width: 120%;
	max-width: 120%;
	float: none;
	text-align: center;
	display: block;
	clear: both;
	}

	.node--view-mode-full .node__content .field.field--name-field-image, .field--name-field-image-caption .field__item {
	width: 100%;
	margin: 0;
	display: block;
	}

	.paragraph, .node--view-mode-full .node__meta, .path-frontpage #block-about {
	width: 100%;
	}

	.field--name-field-text p {
	overflow: inherit;
	}

	footer.node__meta {
	width: 100%;
	line-height: inherit;
	margin: 1.5rem auto;
	}

	footer.node__meta .profile {
	width: inherit;
	}

	.node--view-mode-full footer.node__meta .field.field--name-user-picture {
	margin: 0;
	width: inherit;
	}

	.node__submitted {
	margin: 0.75rem 0 0;
	}

	.field--name-created {
	display: block;
	}

	.footer {
	text-align: center;
	}

	.footer #block-avenue-footer {
	margin-bottom: 0;
	}

	#block-views-block-events-block-1 .views-row {
	    margin-bottom: 3rem;
	}


	/* MAILCHIMP */

	#mc_embed_signup #mc_embed_signup_scroll .mc-field-group {
	    width: 97%;
	    padding: 0 0 0.5rem;
	    display: block;
	    clear: both;
	}

	#block-socials ul.menu li {
	margin: 0 0.5rem 0 0;
	padding: 0;
	}

}