.video-embed-field-responsive-video {
  position: relative;
}

.video-embed-field-responsive-video:after {
  content: '';
  display: block;
  padding-bottom: 56.25%;
}

.video-embed-field-responsive-video iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 50%;
  margin: 0;
}

.video-embed-field-responsive-modal {
  max-width: 60%;
}
